
img {
  border-radius: 10px;
  max-width: 1000%;
  height: 90px;
  max-height: 55px;
  margin-top: 18px;
}
.toolbar{
    position: fixed;
    background-color:whitesmoke;
    text-align: left;
}
.header_feature{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
.aligntoright{
    text-align: right;
}
.big{
    font-size: 200;
}
.h1{
    font-family: Jazz LET, fantasy	;
    margin-top: 30px;
     color:white;
     text-shadow:  2px 4px 4px black;
}
.rand{
    margin-top: 40px;
    margin-right: 20px;
}