*{
    margin: 0;
}

.card1img{
    border-radius: 20px;
    width: 250px;
    height: 400px;
    transition: 2s;
}


.card1img:hover{
    transform: scale(1.1);
}


.tlt1{
    margin-top: 20px;
    font-weight: bolder;
    font-family: 'Playfair Display', serif;

}

.tlt2{
    margin-top: 20px;
    font-weight: bolder;
    font-family: 'Playfair Display', serif;

}

.tlt3{
    margin-top: 20px;
    font-weight: bolder;
    font-family: 'Playfair Display', serif;

}
